---
title: "Evaluation Form"
layout: "layouts/base"
---
<form netlify>
    <label for="operator-name">Dive Operator</label>
    <input name="operator-name" type="text">
    <label for="operator-name">Captain</label>
    <input name="operator-name" type="text">
    <label for="operator-name">Dive Site</label>
    <input name="operator-name" type="text">
    <label for="operator-name">Observer</label>
    <input name="operator-name" type="text">
    <label for="operator-name">Date</label>
    <input name="operator-name" type="date">
</form>